.body {
    font-family: 'Poppins', sans-serif;
}

.blue-box {
    background-color: #189BCC;
    width: 1480px;
    height: 825px;
}

.blue-box2 {
    background-color: #189BCC;
    width:500px;
    height: 500px;
    position: absolute;
    top: 60%;
    left: 55%;
    z-index: 5;
}

.background2 {
    width: 1480px;
    z-index: 4;
    height: 100vh;
}

.box {
    position: absolute;
    top: 22%;
    left: 26%;
    max-width: 600px;
    padding: 50px;
    background: rgba(225, 225, 225, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    font-family: 'Poppins', sans-serif;
    z-index: 5;
}

.box h2 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(13, 72, 140);
}

.box p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: white;
}