*{
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.background {
    background: no-repeat url('https://payload.cargocollective.com/1/4/158872/9666476/currents-gatefold_800.jpg');
    background-size: cover;
    height: 100vh;
    filter: blur(5px);
}

.logo {
    position: absolute;
    background: no-repeat;
    top: 2%;
    left: 2%;
    margin: 0%;
    padding: 0%;
}

.links {
    position: absolute;
    display: flex;
    justify-content: space-around;
    margin: auto;
    top: 2%;
    left: 45%;
    z-index: 5;
}

a {
    margin-left: 40px;
    position: relative;
    color: rgb(175, 172, 172);
    font-size: 40px;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    padding: 0 10px;
    letter-spacing: 0.5px;
}

.active {
    color:white;
}

a::after{
    content: "";
    position: absolute;
    background-color: rgb(252, 13, 13);
    height: 3px;
    width: 0%;
    left: 0%;
    bottom: -2px;
    transition: 0.3s;
}

a:hover:after {
    width: 100%;
}

